<a href="https://colab.research.google.com/github/AnushkaChoudhary4/Anu/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(1,11,3):
    print(i)

1
4
7
10

In [5]:
i=1
while i<8:
  print(i)
  i+=1

1
2
3
4
5
6
7

In [8]:
i=int(input("enter the value"))
for i in range(-1,16):
  print(i)

enter the value7
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [12]:
table=int(input("enter the table:"))
start=int(input("enter the starting number:"))
limit=int(input("enter the limit:"))
while(start<=limit):
  print(start,"*",table,"=",start*table)
  start=start+1

enter the table:17
enter the starting number:1
enter the limit:10
1 * 17 = 17
2 * 17 = 34
3 * 17 = 51
4 * 17 = 68
5 * 17 = 85
6 * 17 = 102
7 * 17 = 119
8 * 17 = 136
9 * 17 = 153
10 * 17 = 170

In [21]:
i<10
for i in range(4,12):
    continue
    print(i)
else:
  print("done")

done

In [25]:
for i in range(12):
  if i==6:break
  print(i)
else:
  print("done")

0
1
2
3
4
5

In [37]:
a=int(input("enter the number a:"))
b=int(input("enter the number b:"))
c=int(input("enter the number c:"))
total_sum=(a+b+c)
print(total_sum)

enter the number a:2
enter the number b:3
enter the number c:4
9

In [44]:
num=345
reversed_num=0
while num!=0:
  digit=num%10
  reversed_num=reversed_num*10+digit
  num//=10
print("reversed number:"+str(reversed_num))

reversed number:543