<a href="https://colab.research.google.com/github/AnushkaChoudhary4/Anu/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(0,10,2):
   print(i)

0
2
4
6
8

In [ ]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
i=int(input("enter the value"))
for i in range(16):
  print(i)

enter the value10
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
table=int(input("enter the value"))
start=int(input("enter the starting number"))
limit=int(input("enter the limit:"))
while(start<=limit):
  print(start,"*",table,"=",start*table)
  start=start+1

enter the value17
enter the starting number1
enter the limit:10
1 * 17 = 17
2 * 17 = 34
3 * 17 = 51
4 * 17 = 68
5 * 17 = 85
6 * 17 = 102
7 * 17 = 119
8 * 17 = 136
9 * 17 = 153
10 * 17 = 170

In [ ]:
for i in range(6):
   if i==2: continue
   print(i)
else:
   print("complete")

0
1
3
4
5
complete

In [ ]:
for x in range(9):
  if x==4: break
  print(x)
else:
  print("complete")

0
1
2
3

In [ ]:
a=int(input("enter the number"))
b=int(input("enter the number"))
c=int(input("enter the number"))
total_sum=(a+b+c)
print(total_sum)

enter the number6
enter the number4
enter the number4
14

In [ ]:
num=int(input("enter the number"))
reversed_num=0
while num!=0